.center-page-flex {
    display: flex;
    justify-content: center;


}

.prev-next-mobile {
    display: none;
}

.flex-page {
    display: flex;
    flex-direction: column;
}

section {
    width: 1100px;
    height: 740px;

}

nav>.nav-btn {
    display: none;
}

.nav>#nav-check {
    display: none;

}

nav {
    display: flex;
    border-bottom: 1px solid;
    border-color: #69707D;
    ;
    width: 100%;
}

/*-------------------------------------------------------------------------dropdown-cart-----------------------------------------------*/
.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.purchase-info {
    font-family: 'Kumbh Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #69707D;
    margin-left: 0.5em;
}

.purchase-prices>div {
    padding-left: 5px;
    padding-right: 5px;
}

.trash {
    background-image: url('./images/icon-delete.svg');
    background-repeat: no-repeat;
    width: 14px;
    height: 16px;
    margin-left: 4em;
}

.price-to-pay {
    color: #070707;
    font-weight: 700;
}

.title {
    margin-top: 1.5em;
    margin-left: 1.5em;
    font-weight: 700;
}

.purchase-prices {
    margin-left: 5em;
    display: flex;
    margin-top: -1.5em;
}

.container-info {
    display: flex;
    width: 312px;
    margin-left: 1.5em;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    width: 360px;
    top: 50px;
    left: -125px;
    overflow: auto;

    box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
    border-radius: 10px;
    z-index: 1;
}

.purchase-img {
    background-image: url('./images/image-product-1-thumbnail.jpg');
    background-size: cover;
    border-radius: 4px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.cart-title {
    height: 67px;
    width: 360px;
    border-bottom: 1px solid #E4E9F2;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

.checkout {
    background: #FF7E1B;
    border-radius: 10px;
    width: 312px;
    height: 56px;
    margin-left: 2em;
    color: white;
    font-weight: 700;
    margin-bottom: 3em;
}

/*-------------------------------------------------------------------------dropdown-cart--END---------------------------------------------*/
.nav-links {
    display: flex;
    flex-direction: row;

}

main {
    display: flex;

}

.logo {
    background-image: url("./images/logo.svg");
    width: 10em;
    background-repeat: no-repeat;
    margin-top: 2em;
    padding-left: 10em;
    cursor: pointer;
}


.nav-links>li {
    list-style: none;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    cursor: pointer;

    /* identical to box height, or 173% */

    color: #69707D;
}

.nav-links>li:hover {
    box-sizing: border-box;


    box-shadow: 0px 4px #FF7E1B;
    ;

    color: black;
    /* border-bottom: 4px solid; */
}

.cart-avatar-container {
    display: flex;
    margin-top: 1em;
    height: 50px;
    margin-left: 28em;
    cursor: pointer;
}

.avatar:hover {
    border: 2px solid #FF7E1B;
    border-radius: 40px;
}

.cart-avatar-container>li {

    list-style: none;
}

.cart {
    background-image: url("./images/icon-cart.svg");
    width: 21.82px;
    height: 20px;
    background-size: cover;
    margin-top: 1em;
    cursor: pointer;

}

.avatar {
    background-image: url("./images/image-avatar.png");
    background-size: cover;
    width: 50px;
    margin-left: 1em;

}

.product-images {
    padding-top: 3em;
}

.main-product-img {
    background-image: url("./images/image-product-1.jpg");
    width: 28em;
    height: 28em;
    border-radius: 15px;
    background-size: cover;
}

.img-container {
    width: 32em;
    padding-left: 3em;
}

.info-container {
    width: 32em;
    padding-right: 3em;
    padding-top: 2em;
}

.info-for-product {
    display: flex;
    flex-direction: column;
    width: 28em;
    padding-top: 4em;
}

.company-logo {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 1em;
    color: #FF7E1B;


}

.product-description {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 1.5em;

    /* or 162% */

    color: #69707D;
}

.product-name {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 48px;
    padding-bottom: 0.5em;

    /* or 109% */

    color: #1D2026;


}

.quantity {
    display: flex;
}

.actual-price {
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    display: flex;

    /* identical to box height */

    color: #1D2026;
}

.price {
    padding-bottom: 2em;
}

.percent-of-discount {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    width: 3em;
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    margin-left: 1em;
    padding-top: 6px;
    color: #FF7E1B;
    background-color: hsla(25, 84%, 85%, 0.7);
}

.price-before-discount {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;

    /* identical to box height, or 162% */
    text-decoration-line: line-through;

    color: #B6BCC8;
}

.add-to-cart {
    background: #FF7E1B;
    box-shadow: 0px 20px 50px -20px #FF7E1B;
    border-radius: 10px;
    width: 445px;
    height: 56px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.add-to-cart:hover {
    background: #FFAB6A;

}

.counter {
    width: 8em;
    height: 3.5em;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F6F8FD;
    border-radius: 10px;
    margin-right: 1em;
}

.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: #F6F8FD;
    color: #070707;
    appearance: none;
    outline: 0;
}

.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: #FF7E1B;
    user-select: none;
}

/*-----------------------------------------------------------card-modal----------------------------------------------*/
.js-additional-modal {
    display: flex;
    width: 28em;
    margin-top: 20em;
    justify-content: end;
}

.another-pic {
    display: flex;

}

.mini-images {

    margin-top: 2em;
}

.container-gallery {
    width: 28em;
    display: flex;

}

.container-gallery-pic {
    display: flex;

}

.gallery__item {
    width: 6.3em;
    height: 6.3em;
    cursor: pointer;
    margin-right: 1em;

}

.modal__image {
    width: 35em;
    height: 35em;
    border-radius: 15px;
}

.gallery__image {
    display: block;
    width: 6.3em;
    height: 6.3em;
    padding: 0.5em;
    border-radius: 18px;
    object-fit: cover;
}

.gallery__image:hover {
    opacity: 60%;
    padding: 0%;
    border: 5px solid #FF7E1B;
    border-radius: 20px;
}

.js-contenedor-modal {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}

.modal__image {
    max-width: 1024px;
    object-fit: cover;
}

.js-icono-cerrar {
    position: absolute;
    top: 0;
    right: 0;
    width: 21px;
    height: 21px;
    padding: 30px 25px;
    cursor: pointer;
    margin-right: 30em;
}

.js-icono-cerrar:after,
.js-icono-cerrar:before {
    content: "";
    position: absolute;
    top: 2rem;
    width: 2rem;
    height: 2px;
    background-color: #999;
    transform: rotate(45deg);
    opacity: .6;
}

.js-icono-cerrar:before {
    right: 10px;
}

.js-icono-cerrar:after {
    right: 10px;
    transform: rotate(-45deg);
}

.js-icono-cerrar:hover:before {
    background-color: #fff;
}

.js-icono-cerrar:hover:after {
    background-color: #fff;
}

#prev,
#next {
    position: absolute;
}

#prev {
    left: 20px;
}

#next {
    right: 20px;
}

#prev,
#next {
    text-indent: -666em;
}

a.arrow {
    border: solid #999;
    border-width: 0 1px 1px 1px;
    display: inline-block;
    padding: 10px 15px;
}

a.arrow:hover {
    border-color: #fff;
}

.arrow.right {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);

}

.arrow.right {
    width: 2em;
    height: 2em;
    border: 2px solid white;
    border-radius: 200px;
    background-color: white;
    /* background-image: url("./images/icon-next.svg");
    background-size: cover;
    background-repeat: no-repeat; */
    margin-right: 27.2em;
}

.arrow.left {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.arrow.left {
    width: 2em;
    height: 2em;
    border: 2px solid white;
    border-radius: 200px;
    background-color: white;
    margin-left: 27.2em;
}

@media (max-width: 850px) {
    .container-gallery {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

/*--------------------------------------------------------------DESKTOP----------------------------------------------------------*/
@media only screen and (min-width: 911px) {
    nav>.nav-btn {
        display: none;
    }

    nav>#nav-check {
        display: none;

    }

    .flex-page {
        display: flex;
        flex-direction: column;
    }

    main {
        display: flex;

    }
}

/*--------------------------------------------------------------DESKTOP----------------------------------------------------------*/
/*--------------------------------------------------------------MOBILE----------------------------------------------------------*/
@media only screen and (min-width: 300px) and (max-width: 499px) {
    nav {
        width: 327px;
        border-bottom: 0px;

    }

    nav>.nav-btn {
        display: inline-block;
        margin-top: 1em;
        margin-right: 1em;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    nav>.nav-btn>label:hover,
    nav #nav-check:checked~.nav-btn>label {
        background-color: white
    }

    #nav-check {
        opacity: 0;
    }

    .nav-links>li {
        list-style: none;
        padding: 0px;
        padding-bottom: 10px;
        font-weight: 700;
        font-size: 15px;

        cursor: pointer;
        color: #0c0c0c;
    }

    .nav-links {
        padding-left: 2em;
        padding-top: 2em;
    }


    nav>.nav-btn>label>span {
        display: block;
        width: 16px;
        height: 5px;
        border-top: 4px solid #070707;
        cursor: pointer;
    }

    nav>.nav-links {
        position: absolute;
        display: block;
        width: 80%;
        background-color: white;
        height: 50%;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    nav>#nav-check:checked~.nav-links {
        height: 110%;
        overflow-y: auto;
    }

    .nav-links {
        display: none;
    }

    .prev-next-mobile {

        display: flex;
        width: 360px;
        padding-top: 9em;


    }

    .icons-space-between {
        display: flex;
    }

    .prev {
        display: flex;
        justify-content: center;
        cursor: pointer;
        margin-left: 2em;
        padding: 1em;
        width: 1em;
        height: 1em;
        border-radius: 300px;
        background-color: white;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .next {

        display: flex;
        justify-content: center;
        cursor: pointer;

        padding: 1em;
        width: 1em;
        height: 1em;
        border-radius: 300px;
        background-color: white;
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: 14em;
    }



    .center-page-flex {
        justify-content: flex-start;
    }

    .cart-avatar-container {
        margin-left: 1em;
    }

    .logo {
        margin-top: 1em;
    }

    .cart {
        width: 21.82px;
        height: 20px;
        padding: 0px;
        margin: 0px;
    }

    .avatar {
        width: 24px;
        height: 24px;
    }

    .avatar:hover {
        border: 0px;
    }

    main {
        flex-direction: column;
        margin-left: 1.2em;
    }

    .img-container {
        padding-left: 0px;
        margin: 0px;
    }

    .main-product-img {
        width: 385px;
        height: 300px;
        margin-left: -2em;
        border-radius: 0px;
        margin-top: 0.5em
    }

    .mini-images {
        visibility: hidden;
        margin-top: -10em;
    }

    .product-images {
        padding-top: 0px;
    }

    .company-logo {
        width: 327px;
        height: 15px;
        font-size: 12px;
        line-height: 15px;
    }

    .product-name {
        width: 327px;
        height: 64px;
        font-size: 28px;
        line-height: 32px;
    }

    .product-description {
        width: 327px;
        height: 100px;
        font-size: 15px;
        line-height: 25px;
    }

    .price {
        display: flex;
    }

    .price-before-discount {
        margin-left: 7em;
    }

    .quantity {
        flex-direction: column;
    }

    .counter {
        margin: 0px;
        width: 327px;
        height: 56px;
    }

    .add-to-cart {
        width: 327px;
        height: 56px;
        margin-bottom: 4em;
    }
}