* {
    margin: 0;

}

.title {
    background-color: hsl(185, 41%, 84%);
    padding-top: 5rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.first {

    font-size: 2.5rem;
    width: 5.56rem;
    height: 3.3rem;
}

.first>span {

    color: hsl(186, 14%, 43%)
}

.spliter {
    background-color: hsl(185, 41%, 84%);
    display: flex;
    justify-content: center;

}

.spliter-text {
    position: absolute;

}

.container {
    display: flex;
    justify-content: center;
    margin: 5rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 2rem;

}

.left-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto;
    width: 24rem;
    border-radius: 0.5rem;
}

input[name="bill-before-tip"] {
    background-image: url("images/icon-dollar.svg");
    background-position: 5% 50%;
    background-repeat: no-repeat;
}

input[name="number-of-people-input"] {
    background-image: url("images/icon-person.svg");
    background-position: 5% 50%;
    background-repeat: no-repeat;
}

.amount-by-person-actual {
    background-image: url("images/icon-dollar.svg");
    background-position: left;
    background-size: 1.5rem;
    padding-top: 2rem;
    padding-left: 2rem;
    background-repeat: no-repeat;
}

.amount-total-actual {
    background-image: url("images/icon-dollar.svg");
    background-position: left;
    background-size: 1.5rem;
    padding-top: 2rem;
    padding-left: 2rem;
    background-repeat: no-repeat;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input {
    text-align: right;
    font-size: 1.5rem;
    color: hsl(183, 100%, 15%);
    font-weight: 600;
}

.select-tip-contaner {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.5rem;
}

.select-tip-contaner>button {
    background-color: hsl(183, 100%, 15%);
    width: 7.3rem;
    height: 3rem;
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
}

:hover.f-percent-tip {
    background-color: rgb(89, 185, 185);
}

:hover.t-percent-tip {
    background-color: rgb(89, 185, 185);
}

:hover.f-percent-tip {
    background-color: rgb(89, 185, 185);
}

:hover.t-percent-tip {
    background-color: rgb(89, 185, 185);
}

:hover.ft-percent-tip {
    background-color: rgb(89, 185, 185);
}

.result-of-calculation-tip-container {
    display: grid;
    grid-template-columns: auto auto;

}

.custom-percent-tip {

    width: 7.3rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: 0px;
    background-color: hsl(189, 41%, 97%);
    font-size: 1.5rem;
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.reset-btn {
    width: 20rem;
    height: 3rem;
    background-color: hsl(183, 100%, 15%);
    color: hsl(186, 14%, 43%);
    border-radius: 0.5rem;
    border: 0px;
    font-size: 1.5rem;

}

:hover.reset-btn {
    background-color: rgb(89, 185, 185);
}

#bill-before-tip {
    background-color: hsl(189, 41%, 97%);
    width: 24rem;
    height: 3rem;
    border: 0px;
}

#number-of-people {
    background-color: hsl(189, 41%, 97%);
    width: 24rem;
    height: 3rem;
    border: 0px;
}

.result-of-calculation-tip-container {
    display: grid;
    grid-template-columns: auto;
    padding-top: 1rem;
}

.first-amount {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;

}

.second-amount {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
}

.tip-amount-by-person {
    font-size: 1.2rem;
    padding-top: 1rem;
}

.tip-amount-total {
    font-size: 1.2rem;
    padding-top: 1rem;
}

.amount-by-person-actual {
    font-size: 3rem;
    color: rgb(89, 185, 185);
    font-weight: 700;
}

.amount-total-actual {
    font-size: 3rem;
    color: rgb(89, 185, 185);
    font-weight: 700;
}

.empty-field-msg-bill {
    display: none;
}

.empty-field-msg-people {
    display: none;
}

/*--------------------------------------------DESKTOP------------------------------------------------*/
@media only screen and (min-width: 911px) and (max-width: 1550px) {

    .container {

        width: 57rem;
        height: 31rem;
        padding: 3rem 3rem 3rem 3rem;


    }

    .right-cotainer {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: auto;
        width: 26rem;
        height: 27rem;
        background-color: hsl(183, 100%, 15%);
        border-radius: 0.5rem;
        color: white;
    }
}

/*--------------------------------------------MOBILE------------------------------------------------*/
@media only screen and (min-width: 300px) and (max-width: 430px) {

    .container {
        padding: 1rem 1rem 1rem 1rem;
    }

    .grid-container {


        grid-template-columns: auto;
        gap: 2rem;

    }

    .left-container {

        width: 10rem;

    }

    .right-cotainer {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: auto;

        height: 23rem;
        background-color: hsl(183, 100%, 15%);
        border-radius: 0.5rem;
        color: white;
    }

    input[name="bill-before-tip"] {
        background-position: 5% 50%;
    }

    input[name="number-of-people-input"] {
        background-position: 5% 50%;
    }

    input {
        font-size: 1rem;
        font-weight: 700;
    }

    .select-tip-contaner {
        display: grid;
        grid-template-columns: 160px 160px;
        gap: 8px;
        margin-top: 10px;
        margin-bottom: 1rem;
    }

    .select-tip-contaner>button {

        width: 10rem;
        height: 3rem;
        font-size: 1rem;
        padding: 0;
        margin: 0;

    }

    .custom-percent-tip {

        width: 160px;
        height: 2.8rem;
        font-size: 1rem;

    }

    .reset-btn {
        width: 20rem;
        height: 3rem;
        font-size: 1.5rem;
    }

    #bill-before-tip {
        width: 20rem;
        height: 3rem;
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    #number-of-people {
        width: 20rem;
        height: 3rem;
        font-size: 2rem;
    }

    .result-of-calculation-tip-container {
        grid-template-columns: auto;
        padding-top: 1rem;
    }
}

/*--------------------------------------------TABLET------------------------------------------------*/
@media only screen and (min-width: 601px) and (max-width: 910px) {
    .container {
        padding: 1rem 1rem 1rem 1rem;
    }
    .grid-container {
        width: 570px;
    }

    .left-container {
        width: 285px;
    }

    .right-cotainer {
        width: 285px;
    }

    #bill-before-tip {
        width: 17rem;
        height: 3rem;
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    .select-tip-contaner {
        grid-template-columns: auto auto;

    }

    .select-tip-contaner>button {

        width: 7rem;
        height: 3rem;

    }

    .reset-btn {
        width: 15rem;
       margin-right: 1rem;
       margin-top:3.8rem;

    }
    .first-amount{
        justify-content: left;
    }
    .second-amount{
        justify-content: left;
    }
    #number-of-people {
        width: 17rem;
        height: 3rem;
        font-size: 2rem;
    }
}