* {
    margin: 0;

}

body {
    font-family: 'IBM Plex Sans';
    font-style: normal;
}

.main {
    background-image: url("./assets/bg-main-desktop.png");
    background-repeat: no-repeat;
    padding-left: 9em;
    background-size: cover;
}


.logo {
    width: 12rem;
}

.header-img {

    background-image: url("./assets/logo.svg");
    background-repeat: no-repeat;
    width: 10em;
    height: 10em;
    margin-top: -25rem;

}

.right-element {
    display: flex;
    justify-content: end;

}

.element {

    background-image: url("./assets/bg-pattern-1.svg");
    background-repeat: no-repeat;
    width: 312px;
    height: 468px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-main {
    font-size: 88px;

    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    width: 1015px;
    height: 176px;
    /* or 100% */
    letter-spacing: -1px;

    color: #191826;


}

.content-main {
    padding: 3em;
    width: 825px;
    height: 102px;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #191826;
}

.cards-container {
    padding-bottom: 10em;
}

.dark-card-container {
    width: 1110px;
    height: 600px;
    margin-top: 10em;
    color: white;
    background-color: #191826;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
}

.phone {
    background-image: url("./assets/illustration-app.png");
    background-size: cover;
    width: 312px;
    height: 642px;
    margin-top: -171px;
    margin-left: 5em;
    position: relative;

}

.card-promotion-content {
    position: relative;
    width: 446px;
    height: 625px;
    background: #FA7453;
    border-radius: 12px;
    margin-top: 120px;
    margin-left: -5.5em
}

.card {
    padding: 3.2em;
}

.phone-img-container {
    width: 312px;
    height: 642px;
}

.detail {
    background-image: url("./assets/bg-pattern-2.svg");
    width: 312px;
    height: 468px;
}

.title-content {
    width: 333px;
    height: 52px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #FCFAF9;
    margin-bottom: 1em;
}

.description-content {
    width: 333px;
    height: 170px;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #FCFAF9;
    padding-bottom: 1em;

}

.price-container {
    display: flex;
    justify-content: space-evenly;
    width: 165px;
    height: 52px;
    padding-bottom: 1em;
}

.price {

    top: calc(50% - 52px/2);
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
    color: #FCFAF9;


}

.per-month {
    padding: 1em;
}

.buttons {
    display: flex;
    flex-direction: column;

}

.ios-btn {
    width: 333px;
    height: 61px;
    background: #191826;
    border-radius: 12px;
    color: #FCFAF9;
    margin: 0.7em;
    border: 0px;
    cursor: pointer;

}

.ios-btn:hover {
    background-color: rgb(102, 226, 220);
}

.android-btn {
    width: 333px;
    height: 61px;
    margin: 0.7em;
    color: #191826;
    background: #FCFAF9;
    border-radius: 12px;
    border: 0px;
    cursor: pointer;
}

.android-btn:hover {
    background-color: rgb(225, 185, 100);
}

footer {
    display: flex;
    justify-content: space-between;
    padding-top: 5em;
    width: 1110px;
    height: 79px;
}

.social-media-links-img {
    list-style: none;
    padding: 1em;
    display: flex;
    flex-direction: row;
}

.social-media-links-img>li {
    padding-left: 0.5em;
}

/*-------------------------------------------------------------TABLET---------------------------------------------------------*/
@media only screen and (min-width: 500px) and (max-width: 800px) {
    .main {
        background-image: url("./assets/bg-main-tablet.png");
        background-repeat: no-repeat;
        padding-left: 2em;
        background-size: cover;
    }


    .header-img {
        margin-top: -21em;
    }

    .element {

        width: 266.67px;
        height: 400px;
    }

    .main-container {
        width: 520px;
    }

    .text-content-main {
        width: 520px;
    }

    .title-main {
        font-size: 64px;
        line-height: 64px;
        width: 300px;
    }

    .content-main {
        width: 32em;
        padding-left: 0px;
        line-height: 30px;
        padding-top: 5em;
        padding-bottom: 3em;
        text-align: left;
    }

    .cards-container {
        width: 696px;
        margin-left: 5px;
    }

    .dark-card-container {
        width: 696px;
    }

    .phone-img-container {
        width: 270px;
        height: 556px;

    }

    .phone {
        width: 270px;
        height: 556px;
        margin-top: -120px;
    }

    .detail {
        margin-left: -3em;
    }

    .card-promotion-content {
        width: 399px;
        height: 546px;
        margin-left: -16.5em;
        position: relative;
        margin-top: 13em;
    
    }
    .card{
        padding: 1.5em;
    }
    footer{
        width: 696px;
    }
}

/*-------------------------------------------------------------TABLET - END---------------------------------------------------------*/