* {
    margin: 0;
   
}
.main{
    background-image: url("./assets/bg-main-desktop.png");
    background-repeat: no-repeat;
    height: 1500px;
    padding-left: 5em;
    
}
.logo{
    width: 12rem;
}
.header-img{

    background-image: url("./assets/logo.svg");
    background-repeat: no-repeat;
    width: 10em;
    height: 10em;
    margin-top: -25rem;
    
}
.right-element{
    display: flex;
    justify-content:end ;
   
}
.element{
    
    background-image: url("./assets/bg-pattern-1.svg");
    background-repeat: no-repeat;
    width: 312px;
    height: 468px;
}
.title-main{
    font-size: 88px
}
.content-main{
    width:900px
}