/* bg- lighter in dark mode 
fg - text
pg - colour inside main*/
:root,
:root.light {

    --color-bg: rgb(251, 251, 251);
    --color-fg: rgba(105, 124, 154);
    --color-pg: rgba(246, 248, 255);
    --color-white-black: rgb(0, 0, 0);

    --image-theme: url("./assets/icon-moon.svg")
}

:root.dark {
    --color-bg: rgb(30, 42, 71);
    --color-fg: #ffffff;
    --color-pg: rgb(20, 29, 47);
    --color-white-black: rgb(255, 255, 255);
    --image-theme: url("./assets/icon-sun.svg")
}

* {
    margin: 0;

}

body {
    background-color: var(--color-fg);
    color: var(--color-fg);
    font-size: 15px;

    height: 600px;

}

.main-grid {
    background-color: var(--color-bg);
    color: var(--color-fg);
    padding: 3em 3em 3em 2em;
    border-radius: 15px;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border: 0px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-white-black);
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 9rem;
    padding-bottom: 9rem;
    background-color: var(--color-pg);
}

.name {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-white-black);
}

.git-hub-container {

    width: 730px;
    background-color: var(--color-pg);
}


.title-and-mode-container {
    display: flex;
    justify-content: space-between;
    height: 38px;
    width: 730px;
    border-radius: 0px;
    background-color: var(--color-pg);
    padding-bottom: 2rem;
}



.search-container {
    width: 750px;
    height: 69px;
    position: relative;

}

.bio {

    text-overflow: ellipsis;
}

#search-input {
    height: 69px;
    width: 730px;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
    border: 0px;
    background-color: var(--color-bg);

    font-size: 2rem;

}

#search-input::placeholder {
    color: rgba(105, 124, 154);
    font-size: 1.2rem;
}

input[name="search-input"] {
    background-image: url("./assets/icon-search.svg");
    background-position: 5% 50%;
    background-repeat: no-repeat;
}

.theme-mode {
    background-image: var(--image-theme);
    background-position-x: left;
    background-repeat: no-repeat;
    background-size: 2em;
    padding-right: 1em;


}

#mode {
    border: 0px;
    background-color: var(--color-pg);
    cursor: pointer;



}

#btn-search {
    position: absolute;
    border-radius: 5px;
    right: 1.5rem;
    z-index: 2;
    border: none;
    height: 50px;
    width: 106px;
    cursor: pointer;
    color: white;
    background-color: #1e90ff;
    top: calc(35% - 24px/2 - 0.5px);

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

}



#btn-search:hover {
    opacity: 60%;
}

.div-space {
    padding: 1rem;
    background-color: var(--color-pg);
}


.avatar-and-description {
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    grid-template-rows: auto auto;
    width: 670px;
}

#profile-info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;

}

.bio {
    grid-column: 1/4;
    padding-left: 13em;
    margin-bottom: 2em;
}

.avatar {
    grid-column: 1/2;
    margin-left: 2em;
}

.time-stamp-info {
    margin-left: 5rem;
}

.profile-details {
    display: flex;
    justify-content: space-evenly;
    width: 480px;
    height: 85px;
    background-color: var(--color-pg);
    color: var(--color-fg);
    flex-flow: row;
    margin-left: 12rem;
    text-align: center;
    padding-top: 2rem;
    border-radius: 10px;
    margin-bottom: 2em;
}

li {
    list-style: none;
}

.numbers {
    font-size: 1.5rem;
    color: var(--color-fg);
    font-weight: bolder;
}

.profile-details {}

.footer-grid {
    display: grid;
    grid-template-columns: auto auto;
    width: 480px;
    height: 85px;
    margin-left: 12rem;
    padding-bottom: 2em;
}

#mode {
    opacity: 0;
}

.not-available {
    color: #747070;
}

/*-------------------------------------------------------------DESKTOP---------------------------------------------------------*/
@media only screen and (min-width: 911px) and (max-width: 1440px) {
    body {
        height: 900;
    }

    .git-hub-container {
        width: 730px;
    }

    .title-and-mode-container {
        width: 730px;
    }

    #search-input {
        width: 730px;
    }

    .search-container {
        width: 730px;
    }

    /* .main-grid {
        height: 419px;
        width: 730px;

    } */



    .profile-details {
        margin-left: 12em;
    }

    .footer-grid {
        margin-left: 12em;

    }

}

/*-------------------------------------------------------------DESKTOP- END---------------------------------------------------------*/
/*-------------------------------------------------------------TABLET---------------------------------------------------------*/
@media only screen and (min-width: 500px) and (max-width: 800px) {

    body {
        height: 600;
    }

    .avatar-and-description {

        grid-template-columns: 150px 300px;
        grid-template-rows: auto auto;

    }

    .bio {
        margin-left: 1em;
        padding: 0px;
        width: 470px;

    }

    .time-stamp-info {
        margin-top: -2em;
        grid-column: 1/3;
        margin-left: 12.5em;
        margin-bottom: 2em;
    }

    .git-hub-container {
        width: 537px;
    }

    .title-and-mode-container {
        width: 537px;
    }

    #search-input {
        width: 537px
    }

    .search-container {
        width: 537px
    }


    .profile-details {
        margin-left: 1em;
    }

    .footer-grid {
        margin-left: 1em;
    }
}

/*-------------------------------------------------------------TABLET - END---------------------------------------------------------*/

/*-------------------------------------------------------------MOBILE---------------------------------------------------------*/
@media only screen and (min-width: 300px) and (max-width: 499px) {
    body {
        font-size: 10px;
        height: 600px;
    }

    .main-grid {
        height: 450px;
    }

    .avatar>img {
        width: 8em;
        height: 8em;
    }

    .name {
        font-size: 1.3em;
    }

    .title {
        font-size: 1.5rem;

    }

    .avatar-and-description {
        margin: 1em;
    }

    .git-hub-container {
        width: 327px;
    }

    .title-and-mode-container {
        width: 327px;
    }

    #search-input {
        width: 327px;

    }

    .search-container {
        width: 327px;
    }

    #search-input::placeholder {

        font-size: 0.8rem;
    }

    #btn-search {
        margin-top: 0.5em;
        height: 35px;
        width: 80px;
        font-weight: 700;
        font-size: 12px;
    }

    .flex {

        padding-bottom: 15rem;

    }

    .time-stamp-info {
        margin-left: 12em;
        margin-top: -8em;

    }

    #profile-info {
        /* margin-top: 1em; */
    }

    .bio {
        margin-top: 7em;
        margin-left: -7.5rem;
        margin-bottom: 1em;
    }

    .profile-details {
        font-size: 1.3em;
        margin: 0;
        width: 279px;
        height: 85px;
        margin-left: 1em;
        margin-bottom: 1em;
    }


    .profile-details>div>li {
        font-size: 0.8rem;
    }

    .footer-grid {
        margin-left: 1em;
        width: 327px;
        grid-template-columns: auto
    }

    .footer-grid>div {
        padding: 6px;
    }
}

/*-------------------------------------------------------------MOBILE - END---------------------------------------------------------*/