* {
    margin: 0;

}

body {
    background-color: rgba(246, 248, 255);
    color: rgba(105, 124, 154);
    font-size: 15px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 9rem;
    padding-bottom: 9rem;
    background-color: rgba(246, 248, 255);
}

.name {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.git-hub-container {

    width: 730px;
    background-color: white;
}

.light-mode {
    display: none;
}

.title-and-mode-container {
    display: flex;
    justify-content: space-between;
    height: 38px;
    width: 730px;
    border-radius: 0px;
    background-color: rgba(246, 248, 255);
    padding-bottom: 2rem;
}



.search-container {
    width: 750px;
    height: 69px;
    position: relative;

}

#search-input {
    height: 69px;
    width: 730px;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
    border: 0px;

}

#search-input::placeholder {
    color: rgba(105, 124, 154);
    font-size: 1.2rem;
}

input[name="search-input"] {
    background-image: url("./assets/icon-search.svg");
    background-position: 5% 50%;
    background-repeat: no-repeat;
}

.dark-mode {
    border: 0px;
    background-color: rgba(246, 248, 255);
    color: rgba(105, 124, 154);
    cursor: pointer;
}

#btn-search {
    position: absolute;
    border-radius: 5px;
    right: 1.5rem;
    z-index: 2;
    border: none;
    /* top: 0.6rem; */
    height: 50px;
    width: 106px;
    cursor: pointer;
    color: white;
    background-color: #1e90ff;
    top: calc(35% - 24px/2 - 0.5px);

    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height */

    color: #FFFFFF;



}
.div-space{
    padding: 1rem;
    background-color: rgba(246, 248, 255);
}
.main-grid {
  
    height: 419px;
    width: 730px;
    border-radius: 15px;
  


}

.avatar-and-description {
    display: flex;
    margin: 2rem;

    flex-wrap: wrap;
}

.time-stamp-info {
    margin-left: 5rem;
}

.profile-details {
    display: flex;
    justify-content: space-evenly;
    width: 480px;
    height: 85px;
    background-color: rgba(246, 248, 255);
    flex-flow: row;
    margin-left: 12rem;
    text-align: center;
    padding-top: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

li {
    list-style: none;
}
.numbers{
    font-size: 1.5rem;
    color: black;
    font-weight: bolder;
}
.profile-details {}

.footer-grid {
    display: grid;
    grid-template-columns: auto auto;
    width: 480px;
    height: 85px;
    margin-left: 12rem;
}