@tailwind base;
@tailwind components;
@tailwind utilities;



.home-picture {
    background-image: url("./images/desktop/image-interactive.jpg");
    width: 40rem;
    height: 30rem;
    position: relative;
    margin-top: 2rem;
}
